<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Titre par défaut !{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        {% block stylesheets %}
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <!-- Notre CSS custom -->
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
        <body class="mb-5">
            <nav class="container py-3 mb-3">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link {% block menu_home %}{% endblock %}" href="{{ path( 'home' )}}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block menu_moutain %}{% endblock %}" href="{{ path( 'mountain' )}}">Montagne</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block menu_beaches %}{% endblock %}" href="{{ path( 'beaches' )}}">Plages</a>
                    </li>
                </ul>
            </nav>
            {% block body %}
            {% endblock %}
        </body>
</html>
